<fieldset>
   <legend>Email</legend> 
   <div class="form-group mb-lg">
      <label>Principal</label>
      <input type="text" class="form-control" name="email1" ng-model="patient.email[0]">
   </div>
   <div class="form-group mb-lg">
      <label>Alternativo</label>
      <input type="text" class="form-control" name="email2" ng-model="patient.email[1]">
   </div>
</fieldset>
<fieldset>
   <legend>Telefone / Celular</legend>
   <div class="form-group row mb-lg">
      <div class="col-md-6">
         <label>Principal</label>
         <input type="text" class="form-control" name="phone1" ng-model="patient.phone[0]"
            ui-br-phone-number>
      </div>
      <div class="col-md-6">
         <label>Alternativo</label>
         <input type="text" class="form-control" name="phone2" ng-model="patient.phone[1]"
            ui-br-phone-number>
      </div>
   </div>
</fieldset>