<div class=" col-md-12 col-sm-12 main">

  <toolbar title="Cadastro Paciente | " subtitle="{{patient.name}}" breadcrumb="toolbar.breadcrumb" actions="toolbar.actions"></toolbar>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h2><i class="fa fa-list"></i><strong>Cadastro Paciente</strong></h2>
    
      <ul class="nav tab-menu nav-tabs" role="tablist" id="profileTab">
        <li role="profile" class="active">
          <a no-scroll-tab href="#geral" aria-controls="geral" role="tab" data-toggle="tab">Geral</a>
        </li>
        <li role="profile">
          <a no-scroll-tab href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contatos</a>
        </li>
        <li role="profile">
          <a no-scroll-tab href="#address" aria-controls="address" role="tab" data-toggle="tab">Endereço</a>
        </li>
      </ul>
    </div>

    <div class="panel-body">

      <div class="row">

        <div class="col-md-3 col-sm-3">

          <div class="thumbnail">           
            <img class="img-responsive contact-photo" 
                 ng-click="openImageSelect($event)"
                 ng-src="{{image.source}}" alt="Avatar" title="Change the avatar">
            <input type="file" id="imagePatient" name="avatar" file-model="patient.image" 
                   onchange="angular.element(this).scope().getImageSelected(this.files)" style="display: none;"/>
          </div>  

        </div>  

        <div class="col-md-9 col-sm-9"> 

          <!--  <form name="patientForm" class="form-horizontal form-label-left">     -->
       
            <div class="form-horizontal form-label-left">

              <div class="tab-content" id="profileTabContent">

                <div role="tabpanel" class="tab-pane active" id="geral">
                
                  <div class="form-group">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <label>Nome</label>
                      <input type="text" class="form-control" id="name" name="name" ng-model="patient.name">
                    </div>

                  </div>

                  <div class="form-group row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <label>Data Nascimento</label>
                      <datepicker class="input-group date" name="birthDate" datepicker-model="patient.birthDate"></datepicker>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                      <label>Idade</label>
                      <div class="input-group">
                        <input type="number" class="form-control" id="age" name="age" ng-model="patient.age">
                        <label class="input-group-addon">anos</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                      <label>Sexo</label>
                      <br/>
                      <label class="radio-inline" ng-repeat="gender in genders">
                        <input type="radio" name="gender" value="{{gender.id}}" ng-model="patient.gender.id"/>
                        <span>{{gender.label}}</span>
                      </label>
                    </div>
                  </div>

                </div>               

                <div role="tabpanel" class="tab-pane" id="contact">

                  <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <label>Email #1</label>
                      <input type="text" class="form-control" autocomplete="off" id="email1" name="email1" ng-model="patient.emails[0]">
                    </div>
                  </div>     

                  <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <label>Email #2</label>
                      <input type="text" class="form-control" autocomplete="off" id="email2" name="email2" ng-model="patient.emails[1]" ng-pattern='/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/'>
                    </div>
                  </div>    

                  <div class="form-group row">

                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <label>Telefone</label>            
                      <input type="text" class="form-control" autocomplete="off" id="telefone" name="telefone" ng-model="patient.phones[0].number" mask='(99) 9?9999-9999'>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <label>Celular #1</label>
                      <input type="text" class="form-control" autocomplete="off" id="celular1" name="celular1" ng-model="patient.phones[1].number" mask='(99) 9?9999-9999'>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <label>Celular #2</label>
                      <input type="text" class="form-control" autocomplete="off" id="celular2" name="celular2" ng-model="patient.phones[2].number" mask='(99) 9?9999-9999'>
                    </div>

                  </div>

                </div>               

                <div role="tabpanel" class="tab-pane" id="address">
       
                  <div class="form-group row">

                    <div class="col-md-4">
                      <label>Cep</label>
                      <div class="input-group">
                        <input type="text" autocomplete="off" class="form-control" name="zipCode" ng-model="patient.address[0].zipCode" ui-br-cep-mask>
                        <span class="input-group-addon" title="Pesquisar CEP" ng-click="searchZipCode(patient.address[0].zipCode)">
                          <i class="fa fa-search"></i>
                        </span>
                      </div>   
                    </div>

                    <div class="col-md-6">
                       <label>Cidade</label>
                       <input type="text" class="form-control" name="city" ng-model="patient.address[0].city">
                    </div>

                    <div class="col-md-2">
                       <label>UF</label>
                       <input type="text" class="form-control" name="state" ng-model="patient.address[0].state">
                    </div>

                  </div>
        
                  <div class="form-group row">

                    <div class="col-md-8">
                      <label>Av. / Rua</label>
                      <input type="text" class="form-control" name="street" ng-model="patient.address[0].street">
                    </div>
                  
                    <div class="col-md-4">
                      <label>Número</label>
                      <input type="text" class="form-control" name="number" ng-model="patient.address[0].number">
                    </div>
                  
                  </div>
        
                  <div class="form-group row">

                    <div class="col-md-8">
                       <label>Complemento</label>
                       <input type="text" class="form-control" name="complement" ng-model="patient.address[0].complement">
                    </div>
                  
                    <div class="col-md-4">
                       <label>Bairro</label>
                       <input type="text" class="form-control" name="district" ng-model="patient.address[0].district">
                    </div>
                  
                  </div>

                </div>

              </div> 

            </div>

          <!-- </form>  -->

        </div>  

      </div> 

    </div>

  </div>  


</div>








  <!-- <div class="col-md-2 col-sm-1 sidebar">

    <div class="sidebar-collapse collapse">

      <div class="nav-sidebar title"><span>Dados Paciente</span></div>

      <ul class="nav nav-sidebar">
        <li ng-class="{'active-menu active': menu === 'geral'}"
            title="Dados do Paciente" ng-click="setMenu('geral')">
          <a><i class="fa fa-list"></i><span>Cadastro</span></a>
        </li>
      </ul>

    </div> -->
    

    <!-- <ul class="list-group">
      <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'geral'}"
          title="Dados do Paciente" ng-click="setMenu('geral')">
         <a><i class="fa fa-list text-center"></i><span>Dados Paciente</span></a>
      </li>
      <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'contact'}"
          title="Contatos do Paciente" ng-click="setMenu('contact')">
         <a><i class="fa fa-envelope-o text-center"></i><span>Contato</span></a>
      </li>
      <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'address'}"
         title="Endereços do Paciente" ng-click="setMenu('address')">
         <a><i class="fa fa-bookmark-o text-center"></i><span>Endereço</span></a>
      </li>
      <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'family'}"
          title="Familia do Paciente" ng-click="setMenu('family')">
         <a><i class="fa fa-circle-o-notch text-center"></i><span>Familiar</span></a>
      </li>
      <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'graduation'}"
          title="Escolaridade do Paciente" ng-click="setMenu('graduation')">
         <a><i class="fa fa-graduation-cap text-center"></i><span>Escolaridade</span></a>
      </li>
      <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'professional'}"
          title="Dados Profissionais do Paciente" ng-click="setMenu('professional')">
         <a><i class="fa fa-briefcase text-center"></i><span>Profissional</span></a>
      </li>
    </ul> -->
  <!-- </div> -->

        <!-- <div class="panel-heading">
          <h2 class=" text-center"><strong>Dados Paciente</strong></h2>
        </div> -->

        


  <!-- <div class="col-md-3 col-sm-3 col-xs-12">
     <div class="x_panel">
        <div class="x_title">
           <h2><i class="fa fa-bars"></i> Menu </h2>        
           <div class="clearfix"></div>
        </div>
        <div class="x_content">
           <ul class="list-group">
              <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'geral'}"
                  title="Dados do Paciente" ng-click="setMenu('geral')">
                 <a><i class="fa fa-list text-center"></i><span>Dados Paciente</span></a>
              </li>
              <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'contact'}"
                  title="Contatos do Paciente" ng-click="setMenu('contact')">
                 <a><i class="fa fa-envelope-o text-center"></i><span>Contato</span></a>
              </li>
              <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'address'}"
                 title="Endereços do Paciente" ng-click="setMenu('address')">
                 <a><i class="fa fa-bookmark-o text-center"></i><span>Endereço</span></a>
              </li>
              <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'family'}"
                  title="Familia do Paciente" ng-click="setMenu('family')">
                 <a><i class="fa fa-circle-o-notch text-center"></i><span>Familiar</span></a>
              </li>
              <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'graduation'}"
                  title="Escolaridade do Paciente" ng-click="setMenu('graduation')">
                 <a><i class="fa fa-graduation-cap text-center"></i><span>Escolaridade</span></a>
              </li>
              <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'professional'}"
                  title="Dados Profissionais do Paciente" ng-click="setMenu('professional')">
                 <a><i class="fa fa-briefcase text-center"></i><span>Profissional</span></a>
              </li>
           </ul>
        </div>
     </div>
  </div> -->