<aside class="aside">
   <div class="aside-inner">
      <nav class="sidebar show-scrollbar">
         <ul class="nav">
            <li class="nav-heading">
               <span class="ng-binding">Paciente</span>
            </li>
            <li ng-class="{'active-menu active': menu === 'geral'}">
               <a ui-sref="app.patient.edit({ menu: 'geral' })" title="Dados do Paciente" class="">
                  <em class="icon-user"></em>
                  <span>Dados Paciente</span>
               </a>
            </li>
            <li ng-class="{'active-menu active': menu === 'contact'}">
               <a ui-sref="app.patient.edit({ menu: 'contact' })" title="Contatos do Paciente" class="">
                  <em class="fa fa-envelope-o"></em>
                  <span>Contato</span>
               </a>
            </li>
            <li ng-class="{'active-menu active': menu === 'address'}">
               <a ui-sref="app.patient.edit({ menu: 'address' })" title="Endereços do Paciente" class="">
                  <em class="fa fa-bookmark-o"></em>
                  <span>Endereço</span>
               </a>
            </li>
            <li ng-class="{'active-menu active': menu === 'family'}">
               <a ui-sref="app.patient.edit({ menu: 'family' })" title="Familia do Paciente" class="">
                  <em class="fa fa-circle-o-notch"></em>
                  <span>Familiar</span>
               </a>
            </li>
            <li ng-class="{'active-menu active': menu === 'graduation'}">
               <a ui-sref="app.patient.edit({ menu: 'graduation' })" title="Escolaridade do Paciente" class="">
                  <em class="fa fa-graduation-cap"></em>
                  <span>Escolaridade</span>
               </a>
            </li>
            <li ng-class="{'active-menu active': menu === 'professional'}">
               <a ui-sref="app.patient.edit({ menu: 'professional' })" title="Dados Profissionais do Paciente" class="">
                  <em class="fa fa-briefcase"></em>
                  <span>Profissional</span>
               </a>
            </li>
         </ul>
      </nav>
   </div>
</aside>
<section>
   <div class="content-wrapper">
      <div class="pull-right">
         <!-- <button type="button" class="btn btn-default btn-sm">Create project</button> -->
         <ul class="breadcrumb">
            <li><a ui-sref="app"><em class="fa fa-home"></em> Home</a></li>
            <li><a ui-sref="app.patient">Paciente</a></li>
            <li>{{label}}</li>
         </ul>
      </div>
      <h3>Paciente</h3>   
      <!-- <div class="panel b"> 
         <div class="panel-body p-xl">  -->
         <form name="patientForm" ng-submit="save(this, patient)">
            <div class="pull-right">
               <button type="submit" class="btn btn-primary btn-sm">
                  <em class="fa fa-check fa-fw"></em>Salvar
               </button>
            </div>
            <div class="clearfix"></div>
            <div ui-view="{{menu}}"></div>
         </form>
        <!--  </div>
      </div> -->
   </div>
</section>