<div class=" col-md-12 col-sm-12 main">

  <!-- <toolbar title="Cadastro Paciente | " subtitle="{{patient.name}}" breadcrumb="toolbar.breadcrumb" actions="toolbar.actions"></toolbar>
 -->
  <div class="panel panel-default">

    <!-- <div class="panel-heading">
      <h2><i class="fa fa-user"></i><strong>{{ patient.name }}</strong></h2>
    </div> -->

    <div class="panel-body profile">

      <div class="row">

        <div class="col-md-3 col-sm-3 profile-sidebar">

          <div class="thumbnail">
            <img alt="image" ng-src="{{getImage(patient.id)}}" />
          </div> 

          <h2 class="text-center"><strong>{{ patient.name }}</strong></h2> 
          <h4 class="text-center" ng-if="patient.age">{{ patient.age }} anos</h4>

          <hr>

          <h4><strong>Contatos</strong></h4>

          <ul class="profile-details">
            <li ng-if="patient.phones[0].number">
              <div><i class="fa fa-phone"></i> Telefone</div>
              {{ patient.phones[0].number }}
            </li>
            <li ng-if="patient.phones[1].number || patient.phones[2].number">
              <div><i class="fa fa-tablet"></i> Celular</div>
              <span ng-if="patient.phones[1].number">{{ patient.phones[1].number }}</span><br/>
              <span ng-if="patient.phones[2].number">{{ patient.phones[2].number }}</span>
            </li>
            <li ng-if="patient.emails[0] || patient.emails[1]">
              <div><i class="fa fa-envelope"></i> E-mail</div>
              <span ng-if="patient.emails[0]">{{ patient.emails[0] }}</span><br/>
              <span ng-if="patient.emails[1]">{{ patient.emails[1] }}</span>
            </li>
            <li ng-if="patient.address[0].street || patient.address[0].number || patient.address[0].district || patient.address[0].city || patient.address[0].state">
              <div><i class="fa fa-map-marker"></i> Endereço</div>
              {{ patient.address[0].street }}, {{ patient.address[0].number }}<br>
              {{ patient.address[0].district }}<br>
              {{ patient.address[0].city }}, {{ patient.address[0].state }}
            </li>
          </ul>

        </div>  

        <div class="col-md-9 col-sm-9"> 

          <div class="page-header"><h1>Ficha Anamenese</h1></div> 

        </div>  

      </div> 

    </div>

  </div>  


</div>








  <!-- <div class="col-md-2 col-sm-1 sidebar">

    <div class="sidebar-collapse collapse">

      <div class="nav-sidebar title"><span>Dados Paciente</span></div>

      <ul class="nav nav-sidebar">
        <li ng-class="{'active-menu active': menu === 'geral'}"
            title="Dados do Paciente" ng-click="setMenu('geral')">
          <a><i class="fa fa-list"></i><span>Cadastro</span></a>
        </li>
      </ul>

    </div> -->
    

    <!-- <ul class="list-group">
      <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'geral'}"
          title="Dados do Paciente" ng-click="setMenu('geral')">
         <a><i class="fa fa-list text-center"></i><span>Dados Paciente</span></a>
      </li>
      <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'contact'}"
          title="Contatos do Paciente" ng-click="setMenu('contact')">
         <a><i class="fa fa-envelope-o text-center"></i><span>Contato</span></a>
      </li>
      <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'address'}"
         title="Endereços do Paciente" ng-click="setMenu('address')">
         <a><i class="fa fa-bookmark-o text-center"></i><span>Endereço</span></a>
      </li>
      <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'family'}"
          title="Familia do Paciente" ng-click="setMenu('family')">
         <a><i class="fa fa-circle-o-notch text-center"></i><span>Familiar</span></a>
      </li>
      <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'graduation'}"
          title="Escolaridade do Paciente" ng-click="setMenu('graduation')">
         <a><i class="fa fa-graduation-cap text-center"></i><span>Escolaridade</span></a>
      </li>
      <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'professional'}"
          title="Dados Profissionais do Paciente" ng-click="setMenu('professional')">
         <a><i class="fa fa-briefcase text-center"></i><span>Profissional</span></a>
      </li>
    </ul> -->
  <!-- </div> -->

        <!-- <div class="panel-heading">
          <h2 class=" text-center"><strong>Dados Paciente</strong></h2>
        </div> -->

        


  <!-- <div class="col-md-3 col-sm-3 col-xs-12">
     <div class="x_panel">
        <div class="x_title">
           <h2><i class="fa fa-bars"></i> Menu </h2>        
           <div class="clearfix"></div>
        </div>
        <div class="x_content">
           <ul class="list-group">
              <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'geral'}"
                  title="Dados do Paciente" ng-click="setMenu('geral')">
                 <a><i class="fa fa-list text-center"></i><span>Dados Paciente</span></a>
              </li>
              <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'contact'}"
                  title="Contatos do Paciente" ng-click="setMenu('contact')">
                 <a><i class="fa fa-envelope-o text-center"></i><span>Contato</span></a>
              </li>
              <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'address'}"
                 title="Endereços do Paciente" ng-click="setMenu('address')">
                 <a><i class="fa fa-bookmark-o text-center"></i><span>Endereço</span></a>
              </li>
              <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'family'}"
                  title="Familia do Paciente" ng-click="setMenu('family')">
                 <a><i class="fa fa-circle-o-notch text-center"></i><span>Familiar</span></a>
              </li>
              <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'graduation'}"
                  title="Escolaridade do Paciente" ng-click="setMenu('graduation')">
                 <a><i class="fa fa-graduation-cap text-center"></i><span>Escolaridade</span></a>
              </li>
              <li class="list-group-item menu" ng-class="{'active-menu active': menu === 'professional'}"
                  title="Dados Profissionais do Paciente" ng-click="setMenu('professional')">
                 <a><i class="fa fa-briefcase text-center"></i><span>Profissional</span></a>
              </li>
           </ul>
        </div>
     </div>
  </div> -->