<div class="row">
   <div class="col-md-7"> 
      <div class="panel">
         <div class="panel-body">
            <fieldset>
               <legend>Email
                  <div class="pull-right">
                     <button type="button" class="btn btn-primary btn-xs" ng-click="addEmail()">
                        <em class="fa fa-plus fa-fw"></em>Adicionar
                     </button>
                  </div>
               </legend>
               <div class="list-group ng-scope">
                  <div href="#" class="list-group-item" ng-repeat="email in patient.emails track by email.id">
                     <table class="wd-wide">
                        <tbody>
                           <tr>
                              <td class="wd-xxs">
                                 <div class="ph text-center">
                                    <em class="fa fa-envelope-o fa-lg"></em>
                                 </div>
                              </td>
                              <td>
                                 <div class="ph">
                                    <h4 class="text-muted">
                                       <span editable-text="email.url" e-name="url" e-form="emailForm" e-required e-type="email">
                                          {{email.url || ''}}
                                       </span>
                                    </h4>
                                 </div>
                              </td>
                              <td>
                                 <div class="ph pull-right">
                                    <form editable-form name="emailForm" ng-show="emailForm.$visible" class="form-buttons form-inline" shown="insertedEmail == email">
                                       <button type="submit" class="btn btn-primary btn-sm" ng-disabled="emailForm.$waiting">
                                          <em class="fa fa-save"></em>
                                       </button>
                                       <button type="button" class="btn btn-default btn-sm" ng-disabled="emailForm.$waiting" ng-click="emailForm.$cancel()">
                                          <em class="fa fa-close"></em>
                                       </button>
                                    </form>
                                    <button type="button" class="btn btn-primary btn-sm" ng-show="!emailForm.$visible" ng-click="emailForm.$show()">
                                       <em class="fa fa-edit"></em>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" ng-show="!emailForm.$visible" ng-click="removeEmail($index)">
                                       <em class="fa fa-trash"></em>
                                    </button>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <!-- <div class="form-group mb-lg">
                  <label>Principal</label>
                  <input type="text" class="form-control" name="emailPrincipal" ng-model="patient.emails[0]">
               </div>
               <div class="form-group mb-lg">
                  <label>Alternativo</label>
                  <input type="text" class="form-control" name="emailAlternativo" ng-model="patient.emails[1]">
               </div> -->
            </fieldset>
         </div>
      </div>
   </div>
   <div class="col-md-5">
      <div class="panel">
         <div class="panel-body">
            <fieldset>
               <legend>Telefone / Celular
                  <div class="pull-right">
                     <button type="button" class="btn btn-primary btn-xs" ng-click="addPhone()">
                        <em class="fa fa-plus fa-fw"></em>Adicionar
                     </button>
                  </div>
               </legend>
               <div class="list-group ng-scope">
                  <div href="#" class="list-group-item" ng-repeat="phone in patient.phones track by phone.id">
                     <table class="wd-wide">
                        <tbody>
                           <tr>
                              <td class="wd-xxs">
                                 <div class="ph text-center">
                                    <em class="fa fa-phone fa-lg"></em>
                                 </div>
                              </td>
                              <td>
                                 <div class="ph">
                                    <h4 class="text-muted">
                                       <span editable-text="phone.number" e-name="number" e-form="phoneForm" e-required e-ui-br-phone-number>
                                          {{phone.number || '' | telefone}}
                                       </span>
                                    </h4>
                                 </div>
                              </td>
                              <td>
                                 <div class="ph pull-right">
                                    <form editable-form name="phoneForm" ng-show="phoneForm.$visible" class="form-buttons form-inline" shown="insertedPhone == phone">
                                       <button type="submit" class="btn btn-primary btn-sm" ng-disabled="phoneForm.$waiting">
                                          <em class="fa fa-save"></em>
                                       </button>
                                       <button type="button" class="btn btn-default btn-sm" ng-disabled="phoneForm.$waiting" ng-click="phoneForm.$cancel()">
                                          <em class="fa fa-close"></em>
                                       </button>
                                    </form>
                                    <button type="button" class="btn btn-primary btn-sm" ng-show="!phoneForm.$visible" ng-click="phoneForm.$show()">
                                       <em class="fa fa-edit"></em>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" ng-show="!phoneForm.$visible" ng-click="phoneForm($index)">
                                       <em class="fa fa-trash"></em>
                                    </button>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <!-- <div class="form-group row mb-lg">
                  <div class="col-md-6">
                     <label>Principal</label>
                     <input type="text" class="form-control" name="phone1" ng-model="patient.phone[0]"
                        ui-br-phone-number>
                  </div>
                  <div class="col-md-6">
                     <label>Alternativo</label>
                     <input type="text" class="form-control" name="phone2" ng-model="patient.phone[1]"
                        ui-br-phone-number>
                  </div>
               </div> -->
            </fieldset>
         </div>
      </div>
   </div>
</div>