<div class="panel panel-default">

   <div class="panel-heading">
      <h2><i class="fa fa-list"></i><strong>Cadastro Paciente</strong></h2>
   </div>

   <div class="panel-body">

      <form name="patientForm" class="form-horizontal form-label-left">

         <div class="row">

            <div class="col-md-3"> 
               <div class="thumbnail">           
                  <img class="img-responsive contact-photo" 
                       ng-click="openImageSelect($event)"
                       ng-src="{{image.source}}" alt="Avatar" title="Change the avatar">
                  <input type="file" id="imagePatient" name="avatar" file-model="patient.image" 
                     onchange="angular.element(this).scope().getImageSelected(this.files)" style="display: none;"/>
               </div>
            </div>

            <div class="col-md-9">
               <div class="form-group">
                  <div class="col-md-10 col-sm-10 col-xs-12">
                     <label>Nome</label>
                     <input type="text" class="form-control" id="name" name="name" ng-model="patient.name">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <label>Data Nascimento</label>
                     <datepicker class="input-group date" name="birthDate" datepicker-model="patient.birthDate"></datepicker>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-2 col-sm-2 col-xs-12">
                     <label>Idade</label>
                     <input type="text" class="form-control" id="age" name="age" ng-model="patient.age">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <label>Sexo</label>
                     <br/>
                     <label class="radio-inline" ng-repeat="gender in genders">
                        <input type="radio" name="gender" value="{{gender.id}}" ng-model="patient.gender.selected"/>
                        <span>{{gender.label}}</span>
                     </label>
                  </div>
               </div>
            </div>

         </div>

      </form>        

   </div>   

</div> 

