<toolbar title="Pacientes" subtitle="" breadcrumb="toolbar.breadcrumb" actions="toolbar.actions"></toolbar>

<div class="page-content">

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <ul class="pagination pagination-split">
        <li ng-repeat="letter in letters" ng-class="{'active': letter === letterSelected}">
          <a href ng-click="searchBy(letter, name)">{{ letter }}</a>
        </li>
        <li ng-class="{'active': !letterSelected}" style="padding-left: 15px;">
          <a href ng-click="searchBy(null, name)">Todos</a>
        </li>
      </ul>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group has-default has-feedback content-search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Digite o nome do paciente" ng-model="name" ng-change="searchBy(letterSelected, name)">
          <span class="input-group-addon">
          <i class="fa fa-search fa-fw"></i>&nbsp;Pesquisar
          </span>
        </div>
          <!-- <span class="fa fa-search form-control-feedback" aria-hidden="true"></span> -->
      </div>
    </div>
  </div>

  <hr/>

  <div class="col-md-3 col-sm-3 col-xs-12" ng-repeat="patient in patientList track by patient._id">

    <div class="contact-box">
      <a class="contact-box-edit" ui-sref="app.patient.edit({'menu': 'geral', 'id': patient._id})">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a ui-sref="app.patient.create">
        <img alt="image" class="img-circle" src="img/a2.jpg">
        <h3 style="min-height: 34px">
          <strong>{{ patient.name }}</strong>
        </h3>
        <address class="m-t-md">
        <strong>Twitter, Inc.</strong><br>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>
      </a>
      <div class="contact-box-footer">
          <div class="m-t-xs btn-group">
              <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
              <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
              <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
          </div>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>

</div>