<div class=" col-md-12 col-sm-12 main">

  <toolbar title="Pacientes" subtitle="" breadcrumb="toolbar.breadcrumb" actions="toolbar.actions"></toolbar>

  <div class="panel panel-default">

    <div class="panel-heading">

      <div class="col-md-8 col-sm-8 col-xs-12">
        <h2><i class="fa fa-list"></i>Todos os Pacientes cadastrados no sistema</h2>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Digite o nome do paciente" ng-model="name" ng-change="searchBy(letterSelected, name)">
          <span class="input-group-addon">
          <i class="fa fa-search"></i>
          </span>
        </div>
      </div>

    </div>

    <div class="panel-body">

    <!-- <div class="row"> -->
      <!-- <div class="col-md-9 col-sm-9 col-xs-12 text-center">
        <ul class="pagination pagination-split">
          <li ng-repeat="letter in letters" ng-class="{'active': letter === letterSelected}">
            <a href ng-click="searchBy(letter, name)">{{ letter }}</a>
          </li>
          <li ng-class="{'active': !letterSelected}" style="padding-left: 15px;">
            <a href ng-click="searchBy(null, name)">Todos</a>
          </li>
        </ul>
      </div>   -->     

    <!-- <hr/> -->

      <div class="col-md-3 col-sm-3 col-xs-12" ng-repeat="patient in patientList track by patient.id">

        <div class="contact-box">
          <!-- <a class="contact-box-edit" ui-sref="app.patient.edit({'menu': 'geral', 'id': patient._id})">
            <i class="fa fa-pencil-square-o"></i>
          </a> -->
          <a ui-sref="app.patient.view({'id': patient.id})">
            <img alt="image" ng-src="{{getImage(patient.id)}}" class="img-circle" />
            <h3 style="min-height: 34px">
              <strong>{{ patient.name }}</strong>
            </h3>
            <!-- <address class="m-t-md">
            <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
              </address> -->
          </a>
          <div class="contact-box-footer">
            <!-- <div class="btn-group">
              <button type="button" class="btn btn-default" ui-sref="app.patient.edit.profile({'id': patient.id})">
                  <i class="fa fa-pencil-square-o"></i> Editar
              </button>
            </div> -->
            <div class="btn-group">
              <button type="button" class="btn btn-default" ui-sref="app.patient.edit.profile({'id': patient.id})" title="Entrevista Clinica">
                  <i class="fa fa-pencil-square-o"></i> Anamenese
              </button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default" ui-sref="app.patient.edit.profile({'id': patient.id})" title="Prontuário Descritivo">
                  <i class="fa fa-pencil-square-o"></i> Consulta
              </button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default" ui-sref="app.patient.edit.profile({'id': patient.id})" title="Honorários">
                  <i class="fa fa-pencil-square-o"></i> Financeiro
              </button>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="clearfix"></div>

  </div>

</div>