<div class="row">
   <div class="col-md-3">  
      <div class="panel mb b active-menu" ng-class="{'active-menu': menu === 'geral'}">
         <div class="row row-table row-flush">
            <div class="col-xs-3 bg-yellow-dark text-center">
               <em class="fa fa-user fa-2x"></em>
            </div>
            <div class="col-xs-9 clickable" ng-click="setMenu('geral')">
               <div class="panel-body text-center">
                  <h4 class="mt0 mb0">Dados Paciente</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="panel mb b">
         <div class="row row-table row-flush" ng-class="{'active-menu': menu === 'contact'}">
            <div class="col-xs-3 bg-pink-light text-center">
               <em class="fa fa-envelope-o fa-2x"></em>
            </div>
            <div class="col-xs-9 clickable" ng-click="setMenu('contact')">
               <div class="panel-body text-center">
                  <h4 class="mt0 mb0">Contatos</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="panel mb b">
         <div class="row row-table row-flush">
            <div class="col-xs-3 bg-green text-center">
               <em class="fa fa-bookmark-o fa-2x"></em>
            </div>
            <div class="col-xs-9 clickable">
               <div class="panel-body text-center">
                  <h4 class="mt0 mb0">Endereço</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="panel mb b">
         <div class="row row-table row-flush">
            <div class="col-xs-3 bg-purple-light text-center">
               <em class="fa fa-group fa-2x"></em>
            </div>
            <div class="col-xs-9 clickable">
               <div class="panel-body text-center">
                  <h4 class="mt0 mb0">Familia</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="panel mb b">
         <div class="row row-table row-flush">
            <div class="col-xs-3 bg-info text-center">
               <em class="fa fa-graduation-cap fa-2x"></em>
            </div>
            <div class="col-xs-9 clickable">
               <div class="panel-body text-center">
                  <h4 class="mt0 mb0">Escolaridade</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="panel mb b">
         <div class="row row-table row-flush">
            <div class="col-xs-3 bg-danger-light text-center">
               <em class="fa fa-briefcase fa-2x"></em>
            </div>
            <div class="col-xs-9 clickable">
               <div class="panel-body text-center">
                  <h4 class="mt0 mb0">Profissional</h4>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-9">
      <div class="panel panel-default">
         <div class="panel-body">

            <div ui-view></div>

         </div>
      </div>
   </div>
</div>