<fieldset>
   <legend>Email</legend>
   <div class="col-md-8">
      <div class="form-group mb-lg">
         <label>Email</label>
         <input type="text" class="form-control" name="email" ng-model="patient.email[]">
      </div>
   </div>
   <div class="col-md-2">
      <button type="button" class="btn btn-danger btn-line" ng-click="delSibling(sibling)">
         <i class="fa fa-trash"></i>
      </button>
   </div>
   <div class="table-responsive">
      <table class="table table-striped">
         <thead>
            <tr>
               <th class="col-md-1">#</th>
               <th>Email</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="email in emails">
               <td>${index}</td>
               <td>email</td>
            </tr>
         </tbody>
      </table>
   </div>
</fieldset>
<fieldset>
   <legend>Telefones</legend>
   <div class="form-group row mb-lg">
      <div class="col-md-4">
         <label>Telefone</label>
         <input type="text" class="form-control" name="telefone" ng-model="patient.telefone"
            ui-br-phone-number>
      </div>
   </div>
   <div class="form-group row mb-lg">
      <div class="col-md-4">
         <label>Celular #1</label>
         <input type="text" class="form-control" name="celular1" ng-model="patient.celular1"
            ui-br-phone-number>
      </div>
   </div>
   <div class="form-group row mb-lg">
      <div class="col-md-4">
         <label>Celular #2</label>
         <input type="text" class="form-control" name="celular2" ng-model="patient.celular2"
            ui-br-phone-number>
      </div>
   </div>
</fieldset>