/* Overide */

.container {
    width: 100%;
    padding: 0 30px;
}

.navbar-header {
    width: 200px;
}

.navbar-header > a {
    width: 100%;
}

.navbar {
    margin-bottom: 0px;
}

.btn-primary {
    color: #fff;
    background-color: #12A4F4;
    border-color: #0b95e0;
}

.btn > i.fa {
    padding-right: 5px;
}

.form-control {
    border-radius: 0; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
    -webkit-transition: none 
    -o-transition: none;
     transition: none; 
}


/* TAG */


body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F8F8F8;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

a {
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: none;
}
a, a:hover, a:active, a:focus {
    color: #34495e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,
h4,
h5 {
  margin-top: 5px;
  font-weight: 600;
}


/* Custom */
.navbar-top {
    background: #354051;
    color: #FFF;
}

.navbar-top .navbar-brand {
    color: #FFF;
}

.navbar-top .navbar-nav > li > a {    
    color: #A0ABBD;
}

.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > li > a:focus,
.navbar-top .navbar-nav > li > a:active {
    color: #FFF;
    background: #2F3948 !important;
}

.navbar-top .navbar-nav > .active > a, 
.navbar-top .navbar-nav > .active > a:hover, 
.navbar-top .navbar-nav > .active > a:focus, 
.navbar-top .navbar-nav > .active > a:focus {
    color: #FFF;
    background: #2F3948 !important;
    border-top: 3px solid #12A4F4;
    padding-top: 12px;
    padding-bottom: 18px;  
}






.user-profile img {
    margin-bottom: -6px;
    margin-top: -6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px; 
}



.page-wrapper {
    margin: 44px 0 0 0;
    padding: 0 30px;
}

.page-title {
    margin: 10px 0;
}

.page-title h1 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 26px;
}
.page-title small {
    font-size: 18px;
}

.page-title .breadcrumb {
    margin-bottom: 0;
    background-color: #EEE;
}
.page-content {
    padding: 30px;
    border: 1px solid #DDD;
    min-height: 300px;
    background: #FFF;
}


.pagination.pagination-split li {
  display: inline-block;
  margin-right: 3px; }

.pagination.pagination-split li a {
  min-width: 30px;
  border-radius: 4px;
  /*color: #768399;*/
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; 
  padding: 6px; 
}

.content {
    margin: 35px 0 0 250px;
}

.content-search {
    width: 80%; 
    margin: auto;
}

.content-search span.fa {
    padding-top: 10px;
    border-left: 1px solid #ccc;
}

.profile_details {
    margin: 20px;
    padding: 10px 0;
    border: 1px solid #CCC;
}

/* SIDEBAR */

.sidebar-menu {
    position: fixed;
    float: left;
    min-height: 100%;
    height: auto;
    width: 250px;
    background-color: #FFF;
    left: 0;
    top: 54px;
    bottom: 0;
    border-right: 1px solid #DDD;
    /*box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -moz-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -o-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -ms-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);*/
}
.sidebar-profile {
    padding: 20px;
}
.avatar {
    position: relative;
    display: block;
}
.sidebar-profile .profile-image {
    display: block;
    width: 75px;
    height: 75px;
    margin: auto;
    border: 1px solid #CCC;
    padding: 5px;
}
.sidebar-profile .profile-body {
    padding: 0;
    text-align: center;
}
.sidebar-profile .profile-body h4 {
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: 600;
}
ul.wraplist {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: -10px;
}
ul.wraplist .menusection {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 40px;
    padding-left: 24px;
    margin: 10px 0 0px 0;
    color: #9e9e9e;
    text-transform: uppercase;
}
ul.wraplist li.active a {
    background-color: rgba(33, 33, 33, 0.1);
    border-left: 5px solid #12A4F4;
}
ul.wraplist li a {
    display: block;
    line-height: 42px;
    min-height: 42px;
    height: auto;
    color: #f1f1f1;
    color: #424242;
    text-decoration: none;
    padding-left: 5px;
    clear: both;
    border-left: 5px solid transparent;
    white-space: nowrap;
}
ul.wraplist .fa {
    font-size: 14px;
}
ul.wraplist li a i {
    display: inline-block;
    width: 45px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    top: 0px;
    position: relative;
}



.top_search {
  padding: 0; }

.top_search .form-control {
  border-right: 0;
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
  border-radius: 25px;
  padding-left: 20px;
  border: 1px solid rgba(221, 226, 232, 0.49); }

.top_search .form-control:focus {
  border: 1px solid rgba(221, 226, 232, 0.49);
  border-right: 0; }

.top_search .input-group-btn button {
  border-radius: 0px 25px 25px 0px;
  border: 1px solid rgba(221, 226, 232, 0.49);
  border-left: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #93A2B2;
  margin-bottom: 0 !important; }



/* CONTACTS */
.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 0;
  margin-bottom: 20px;
  font-size: 12px;
}
.contact-box > a {
  display: block;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  color: inherit;
}
.contact-box > a.contact-box-edit {
    font-size: 16pt; 
    position: absolute; 
    top: 15px; 
    right: 30px;    
    padding: 0;
}
.contact-box > a img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-box address {
  margin-bottom: 0;
}
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}
.contact-photo {
    width: 100%;
    padding: 10px;
}


.m-b-xs {
    margin-bottom: 5px;
}
.m-t-md {
    margin-top: 20px;
}
.m-t-xs {
    margin-top: 5px;
}
.m-r-15 {
    margin-right: 15px;
}
.p-l-50 {
    padding-left: 50px;
}

.font-bold {
    font-weight: 600;
}