<div class="row">
   <div class="col-md-12">
      <div class="crumbs"> 
         <ul id="breadcrumbs" class="breadcrumb"> 
            <li> <i class="fa fa-home"></i> <a href="index.html">Inicio</a> </li> 
            <li class="current"> <a href="pages_calendar.html" title="">Pacientes</a> </li> 
         </ul> 
         <div class="pull-right button-action">
            <button class="btn btn-default" href="charts.html" title="">
               <i class="icon-signal"></i><span>Salvar</span>
            </button>
         </div>
         <div class="clearfix"></div>
      </div> 
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <div class="page-title">
        <div class="title_left">
          <h3>Tables <small>Some examples to get you started</small></h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
            <div class="x_title">
              <h2>Basic Tables <small>basic table subtitle</small></h2>                    
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <app-table list="users" columns="columns" events="events"></app-table>
            </div>
         </div>

      <div class="clearfix"></div>

   </div>

</div>