<fieldset>
   <legend>Escolaridade</legend> 
   <div class="form-group mb-lg">
      <label>Ensino Fundamental</label>
      <input type="text" class="form-control" name="elementarySchool" ng-model="patient.graduation.elementarySchool">
   </div>
   <div class="form-group mb-lg">
      <label>Ensino Médio</label>
      <input type="text" class="form-control" name="highSchool" ng-model="patient.graduation.highSchool">
   </div>
   <div class="form-group mb-lg">
      <label>Ensino Superior</label>
      <input type="text" class="form-control" name="undergraduate" ng-model="patient.graduation.undergraduate">
   </div>
</fieldset>