<div class="content-wrapper"> 
   <h3>Pacientes  
      <ol class="breadcrumb pull-right">
         <li><a href="#">Home</a>
         </li>
         <li><a href="#">Elements</a>
         </li>
         <li class="active">Notifications</li>
      </ol>
      <span class="text-sm hidden-xs">A complete set of notification posibilities</span>
   </h3>
   <div class="row">
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-body text-center">
               <div class="pv-lg">
                  <img src="img/user/02.jpg" alt="Contact" class="center-block img-responsive img-circle img-thumbnail thumb96">
               </div>
               <h3 class="m0 text-bold">Audrey Hunt</h3>
               <div class="mv-lg">
                  <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
               </div>
               <div class="text-center"><a href="#" class="btn btn-primary">Send message</a>
               </div>
            </div>
         </div>
         <!-- <div class="panel b">
            <div class="list-group">
               <a href="#tabSetting1" data-toggle="tab" class="list-group-item">Profile</a>
               <a href="#tabSetting2" data-toggle="tab" class="list-group-item">Account</a>
               <a href="#tabSetting3" data-toggle="tab" class="list-group-item">Emails</a>
               <a href="#tabSetting4" data-toggle="tab" class="list-group-item">Notifications</a>
               <a href="#tabSetting5" data-toggle="tab" class="list-group-item">Applications</a>
            </div>
         </div> -->
      </div>
      <div class="col-md-9">
         <div class="panel panel-default">
            <div class="panel-body">
               <ul class="nav nav-tabs">
                  <li role="paciente" class="active">
                     <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Geral</a>
                  </li>
                  <li role="paciente">
                     <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Profile</a>
                  </li>
                  <li role="paciente">
                     <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Profile</a>
                  </li>
               </ul>
               <div class="tab-content">
                  <div id="tab1" class="tab-pane active">
                     <form action="">
                        <div class="form-group">
                           <label>Name</label>
                           <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                           <label>Bio</label>
                           <textarea rows="3" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                           <label>URL</label>
                           <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                           <label>Company</label>
                           <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                           <label>Location</label>
                           <input type="text" class="form-control">
                        </div>
                        <button type="button" class="btn btn-info">Update settings</button>
                        <p>
                           <small class="text-muted">* Integer fermentum accumsan metus, id sagittis ipsum molestie vitae</small>
                        </p>
                     </form>
                  </div>
                  <div id="tab2" class="tab-pane active">
                     <form action="">
                        <div class="form-group">
                           <label>Name</label>
                           <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                           <label>Bio</label>
                           <textarea rows="3" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                           <label>URL</label>
                           <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                           <label>Company</label>
                           <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                           <label>Location</label>
                           <input type="text" class="form-control">
                        </div>
                        <button type="button" class="btn btn-info">Update settings</button>
                        <p>
                           <small class="text-muted">* Integer fermentum accumsan metus, id sagittis ipsum molestie vitae</small>
                        </p>
                     </form>
                  </div>
                  <div id="tab3" class="tab-pane active">
                     <form action="">
                        <div class="form-group">
                           <label>Name</label>
                           <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                           <label>Bio</label>
                           <textarea rows="3" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                           <label>URL</label>
                           <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                           <label>Company</label>
                           <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                           <label>Location</label>
                           <input type="text" class="form-control">
                        </div>
                        <button type="button" class="btn btn-info">Update settings</button>
                        <p>
                           <small class="text-muted">* Integer fermentum accumsan metus, id sagittis ipsum molestie vitae</small>
                        </p>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>